[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-user = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.6"
