{% from "macros/_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block content %}
    <h3>Reset Password</h3>
    <form action="" method="post">
        {{ form.csrf_token }}
        {{render_field(form.username, value=username,  type="hidden", class="form-control col-md-10")}}
        {{render_field(form.password, class="form-control col-md-10")}}
        {{render_field(form.password_repeat, class="form-control col-md-10")}}
        <input type="submit" name="Reset" id="Reset" value="Reset">
    </form>
    
{% endblock %}
